<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="pcsx_rearmed_duping_enable" values="enabled|disabled" default="enabled"/>
		<setting label="30002" type="select" id="pcsx_rearmed_frameskip" values="0|1|2|3" default="0"/>
		<setting label="30003" type="select" id="pcsx_rearmed_inuyasha_fix" values="disabled|enabled" default="disabled"/>
		<setting label="30004" type="select" id="pcsx_rearmed_multitap1" values="auto|disabled|enabled" default="auto"/>
		<setting label="30005" type="select" id="pcsx_rearmed_multitap2" values="auto|disabled|enabled" default="auto"/>
		<setting label="30006" type="select" id="pcsx_rearmed_pad1type" values="default|none|standard|analog|negcon" default="default"/>
		<setting label="30007" type="select" id="pcsx_rearmed_pad2type" values="default|none|standard|analog|negcon" default="default"/>
		<setting label="30008" type="select" id="pcsx_rearmed_pad3type" values="default|none|standard|analog|negcon" default="default"/>
		<setting label="30009" type="select" id="pcsx_rearmed_pad4type" values="default|none|standard|analog|negcon" default="default"/>
		<setting label="30010" type="select" id="pcsx_rearmed_pad5type" values="default|none|standard|analog|negcon" default="default"/>
		<setting label="30011" type="select" id="pcsx_rearmed_pad6type" values="default|none|standard|analog|negcon" default="default"/>
		<setting label="30012" type="select" id="pcsx_rearmed_pad7type" values="default|none|standard|analog|negcon" default="default"/>
		<setting label="30013" type="select" id="pcsx_rearmed_pad8type" values="default|none|standard|analog|negcon" default="default"/>
		<setting label="30014" type="select" id="pcsx_rearmed_pe2_fix" values="disabled|enabled" default="disabled"/>
		<setting label="30015" type="select" id="pcsx_rearmed_region" values="Auto|NTSC|PAL" default="Auto"/>
		<setting label="30016" type="select" id="pcsx_rearmed_show_bios_bootlogo" values="disabled|enabled" default="disabled"/>
		<setting label="30017" type="select" id="pcsx_rearmed_spu_interpolation" values="simple|gaussian|cubic|off" default="simple"/>
		<setting label="30018" type="select" id="pcsx_rearmed_spu_reverb" values="enabled|disabled" default="enabled"/>
		<setting label="30019" type="select" id="pcsx_rearmed_vibration" values="enabled|disabled" default="enabled"/>
	</category>
</settings>
